* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(25, 25, 25);
    color: rgb(235, 235, 235);
}

.headerbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: rgb(55, 55, 55);
}

.headerbar a {
    color: rgb(235, 235, 235);
    text-decoration: none;
    font-weight: bold;
}

.container {
    margin: 20px auto;
    max-width: 1000px;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;

    display: flex;
    gap: 20px;
    align-items: flex-start; /* garante topo alinhado */
    flex-wrap: wrap; /* Para quebrar em telas pequenas */
}

.imagem img {
    max-width: 250px;
    width: 100%;
    height: auto;
    max-height: 350px; /* garante altura máxima */
    object-fit: contain; /* evita distorção */
    border-radius: 15px;
}

.conteudo {
    flex: 1;
    min-width: 250px;
    max-height: 550px; /* limita à altura da imagem */
    overflow-y: auto; /* adiciona scroll se o texto passar */
    text-align: justify;
}

.titulo {
    margin-bottom: 10px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #ffbf00;
    color: rgb(45, 45, 45);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #ffdd1b;

}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .conteudo {
        max-height: none; /* remove limite para celular */
        overflow-y: visible;
        text-align: justify;
    }
}
